.slider {
  position: relative;
}

.slider img {
  width: 300px;
  height: 200px;
}

.pre {
  position: absolute;
  /* top: 5rem; */
}

.next {
  position: absolute;
  /* top: 5rem; */
  right: 0rem;
}

@media screen and (max-width: 700px) {
  .slider img {
    width: 150px;
    height: 150px;
  }
}
